.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;

  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  &:focus,
  &:hover {
    fill: var(--aсcent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  color: var(--logo-black-color);
  padding-left: 42px;
  outline: transparent;
  &:focus {
    border: 1px solid var(--aсcent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-input:focus + .modal-input-icon {
  fill: var(--aсcent-color);
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 12px;
}

.modal-comment-box {
  display: grid;
  margin-bottom: 20px;
  
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
  
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-text-color);
}

.modal-comment {
  width: 100%;
  height: 120px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  &:focus {
    border: 1px solid var(--aсcent-color);
  }
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--grey-text-color);
  span {
    display: flex;
    align-items: center;
    fill: transparent;
    justify-content: center;
    width: 16px;
    height: 15px;
  
    margin-right: 7px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
  }
}

.input-check:checked + .check-text span {
  background-color: var(--aсcent-color);
  border-color: transparent;
  fill: var(--bg-color);
}
