:root {
    --bg-color: #ffffff;
    --a—Åcent-color: #2196f3;
    --header-color: #ececec;
    --logo-black-color: #000000;
    --icon-logo: #afb1b8;
    --title-text-color: #212121;
    --filter-btn-bg: #f5f4fa;
    --hero-team-bg-color: #f5f4fa;
    --white-text-color: #ffffff;
    --logo-white-color: #ffffff;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --body-bg-color: #2f303a;
    --grey-text-color: #757575;
    --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4));
}

@font-face {
    font-family: Roboto-Black;
    src: url(/fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(/fonts/Roboto-Regular.ttf);
}