.footer {
  background: var(--body-bg-color);
  padding: 60px 0px 60px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  
  @media screen and (min-width: 767px) {
      padding: 60px 0px 60px 0px;
    }
  
}

.footer-flex {
  // display: flex;
  // align-items: baseline;
  
  // flex-direction: column;
  // align-items: center;
  // text-align: center;

  @media screen and (min-width: 767px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

.footer-icon {
  display: flex;
  align-items: baseline;
  fill: currentColor;
}

.footer-icon-soc {
  display: flex;
}

.footer-icon-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-white-color);
  margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    // justify-content:baseline;
  }
}

.footer-icon-list .footer-icon-item + .footer-icon-item {
  margin-left: 10px;
}

.footer-right-contacts {
  margin-left: 0px;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 95px;
  }
}

.footer-icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--logo-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--aсcent-color);
  }
}

.footer-logo {
  color: var(--logo-white-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: inline-flex;
  margin-bottom: 20px;

  @media screen and (min-width: 767px) {
    color: var(--logo-white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
  }
}

.footer-contacts {
  font-family: inherit;
  font-style: normal;
  
  align-items: baseline;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-contacts-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 767px) {
    margin-bottom: 9px;
  }
}


.logo-half {
  color: var(--aсcent-color);
}

.left-contacts{
  margin-bottom: 60px;
  text-align: center;
  

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}

